<!-- Return Home -->
<a href="/categories">Back To All Categories</a>

<!-- Phrase Data -->
<h1>{{phrase.title}}</h1>
<h3>Category: {{phrase.category}}</h3>
<p>{{phrase.content}}</p>

<!-- Edit Phrase -->
<p><a href="/phrases/{{phrase._id}}/edit">Edit Phrase</a></p>

<!-- Delete Phrase -->
<p><form method="POST" action="/phrases/{{phrase._id}}?_method=DELETE">
  <button type="submit">Delete Phrase</button>
</form>
