<div class="row">
  <a href="/categories">Back To All Categories</a>
</div>
<br>
<h1>Phrases</h1>

<!-- <div class="row">
  <a href="/phrases/new">New Phrase</a>
</div> -->
<div class="container col-sm-4">
  <div class="row phrases">
    <div class="card-deck text-center">
      {{#each phrases}}
        <div class="card">
          <h2 class="phrase-title"><a href="/phrases/{{this._id}}">{{this.title}}</a></h2>
          <small>{{this.content}}</small>
          <br>
          <div class="btn-group align-items-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{this._id}}">Show</button>
            <button type="button" class="btn btn-primary">2</button>
            <button type="button" class="btn btn-primary">3</button>
            <button type="button" class="btn btn-primary">4</button>
          </div>
            <!-- Modal -->
            <div id="{{this._id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{this.title}}</h4>
                  </div>
                  <div class="modal-body">
                    <h1 style="color: blue;">{{this.content}}</h1>
                  </div>
                  <div class="modal-footer">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary">1</button>
                      <button type="button" class="btn btn-primary">2</button>
                      <button type="button" class="btn btn-primary">3</button>
                      <button type="button" class="btn btn-primary">4</button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
